.title{

font-size: 36px;
font-weight: bold;
line-height: 60px;
color: #FFFFFF;
   &_fz16{
font-size: 16px;
line-height: 24px;

}
&_fz16about {
color: black;
font-size: 16px;
line-height: 24px;

}  
&_fz36{
font-size: 36px;
color: black;
  }
&_fz48{

font-size: 48px;

}
&_fz14{
font-size: 14px;
color: black;

} 
&_fz16-resume{


  color: black;
  font-size: 16px;
  line-height: 24px;
} 
&_fz20{ 
  color: black;
  font-size: 20px;
  line-height: 30px;
}  
&_fz16-skills{
font-size: 16px;
color: black;
}  
&_fz14-contacts{
color:black;
font-size: 14px;
}  
}  